/* Section 2 */

#sect2 {
  background-color: silver;
  color: white;
  /* display: flex; */
  text-align: center;
  align-items: top;
  font-family: "Montserrat";
}

#sect2-first {
  display: block;
  padding-top: 40px;
  width: 100%;
}

#sect2-first-title {
  display: block;
  font-size: 30px;
}

#sect2-first input,
#sect2-first select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  color: grey;
  border-radius: unset;
  margin-top: 10px;
}

#sect2-first-form {
  margin-top: 30px;
}

#sect2-first-form select,
#sect2-first-form input {
  height: 30px;
  width: 80%;
  margin-bottom: 30px;
}

#sect2-second {
  display: block;
  width: 100%;
  padding-top: 40px;
}

#sect2-second-title {
  font-size: 30px;
}

#sect2-second-buttons img {
  width: 100px;
  height: 130px;
}

#sect2-second-buttons-r1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
#sect2-second-buttons-r2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

#sect2-second-buttons-r2 div {
  width: 100px;
}

/* Section 4 */

#sect4 {
  background-color: silver;
  color: white;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Montserrat";
}

#sect4-title {
  padding-top: 30px;
  margin-bottom: 30px;
}

#sect4-title-text {
  font-size: x-large;
}

#sect4-subtitle {
  margin-bottom: 30px;
}

#sect4-process-step1,
#sect4-process-step2,
#sect4-process-step3,
#sect4-process-step4 {
  padding-bottom: 30px;
}

#sect4-process-step1-description,
#sect4-process-step2-description,
#sect4-process-step3-description,
#sect4-process-step4-description {
  margin-top: 15px;
}

#sect4-process-step1-description div,
#sect4-process-step2-description div,
#sect4-process-step3-description div,
#sect4-process-step4-description div {
  font-weight: bold;
  margin-bottom: 10px;
}

#sect4-process-step1-description-text,
#sect4-process-step2-description-text,
#sect4-process-step3-description-text,
#sect4-process-step4-description-text {
  font-style: italic;
}

#sect4-process-step1-description-text-here {
  color: white;
}

#sect4-start {
  font-size: x-large;
  padding: 5px;
}

#sect4-start span {
  border: 2px solid white;
  padding: 5px;
}

/* Section 5 */

#sect5 {
  background-color: rgb(37, 45, 70);
  color: white;
  text-align: center;
  padding-bottom: 40px;
  font-family: "Montserrat";
}

#sect5-first {
  padding-top: 40px;
}

#sect5-first-title-text {
  font-size: x-large;
}

#sect5-first-body {
  margin-top: 30px;
  margin-bottom: 30px;
}

#sect5-first-more {
  margin-bottom: 50px;
}

#sect5-first-more-text {
  padding: 6px;
  border: 2px solid white;
}

#sect5-second-title {
  margin-bottom: 30px;
}

#sect5-second-title-text {
  font-size: x-large;
}

#sect5-second-form-input {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  height: 20px;
}

#sect5-second-form-submit {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background: unset;
  border: 2px solid white;
  color: white;
  font-size: medium;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  #sect4-process-step1,
  #sect4-process-step2,
  #sect4-process-step3,
  #sect4-process-step4 {
    display: inline-block;
    margin-right: 50px;
    width: 200px;
  }
}
